[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dsv/Desktop/notes.md]
row=1
col=1

[de3e8c49-4f94-447d-8868-bcbefab2cd55]
row=0
col=0

[5b42c6a6-0be6-44d1-ad64-9fbfd7a89afa]
row=1
col=0

[cdrom0]
row=2
col=0

[/]
row=3
col=0

[/home/dsv]
row=0
col=1

